@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-display: swap;
}

td,
th {
  padding: 16px;
  border: 1px solid #f47920;
  text-align: center;
  width: 50%;
  font-weight: 500;
}
